body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.navbar {
  background: green;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size:x-large;
}

.filters {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
  padding: 1rem;
  max-width: 1200px;
  margin: auto;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  max-width: 260px;
  margin: auto;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
